@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

.a {
  font-family: "Edu NSW ACT Foundation", cursive;
  margin: 8px;
  padding: 8px;
  background-color: white;
}
.a__h1{
  display: inline-block;
  vertical-align: middle;
}
.a__logo{
  width: 80px;
  vertical-align: middle;
  margin-left: 15% ;
}
.p{
  font-family: "Edu NSW ACT Foundation", cursive;
  margin: 8px;
  padding: 8px;
}
.p__p{
  display: inline-block;
  vertical-align: middle;
}
.p__input {
  width: 40px;
  vertical-align: middle;
  margin-left: 0%;
  
}
